<h1><%=@recommend.name %>はどうですか？</h1>
<p>住所：<%=@recommend.address%></p>
<p>電話番号：<%=@recommend.tel%></p>
<p>定休日：<%=@recommend.regular_holiday%></p>
<p>営業時間：<%=@recommend.open%>～<%=@recommend.close%></p>
